.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
mat-card{
    width: 40%;
    height: 50vh;
    margin: 5rem;
    
}

img{
    height: 90%;
    padding: auto;
}
@media (max-width: 600px) {
    mat-card {
        width: 60vw;
    }
}